/* HEADER */

.main-header{
  padding:30px 40px 20px 40px;
  border-bottom:1px solid #eee;
}

.header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1200px;
  margin:auto;
}

.logo{
  max-width:160px;
}

.header-social{
  display:flex;
  gap:15px;
}

.social-icon{
  color:#a77a7a;
  width:22px;
  height:22px;
}

.social-icon svg{
  width:22px;
  height:22px;
}

.social-icon:hover{
  color:#000;
}

.subtitle{
  text-align:center;
  margin-top:15px;
  font-family:'Playfair Display',serif;
  color:#a77a7a;
  letter-spacing:2px;
}

.categories-menu{
  text-align:center;
  margin-top:20px;
}

.categories-menu a{
  margin:0 15px;
  text-decoration:none;
  color:#7a5f5f;
  position:relative;
}

.categories-menu a::after{
  content:"";
  display:block;
  width:0;
  height:1px;
  background:#7a5f5f;
  transition:0.3s;
  margin:auto;
}

.categories-menu a:hover::after{
  width:100%;
}

/* GRID */

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:50px;
  max-width:1200px;
  margin:80px auto;
  padding:0 40px;
}

.item-link{
  text-decoration:none;
  color:inherit;
  transition:0.4s;
}

.item-link img{
  width:100%;
  height:420px;
  object-fit:cover;
  border-radius:16px;
  transition:0.4s;
}

.item-link:hover img{
  transform:scale(1.05);
}
